.service-item {
  background-position: center;
  color: white;
  padding: 20px;
  margin: 10px;
  text-align: center;
  width: 300px;
  height: 300px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.service-item .icon {
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid white;
  text-align: center;
  width: 216px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background: #d9d9d90d;
  height: 210px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.service-item .icon:hover {
  box-shadow: 0 0 10px 5px orange;
  transform: scale(1.1);
}

.service-item .icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content {
  padding: 10px;
  width: 100%;
  background-color: transparent;
}

.content h2 {
  margin: 10px 0;
  font-size: 1.2rem;
  width: 100%;
}

.content p {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .service-item {
    width: 250px;
    height: 250px;
  }

  .service-item .icon {
    width: 180px;
    height: 180px;
  }

  .content h2 {
    font-size: 1rem;
  }

  .content p {
    font-size: 0.85rem;
  }
}

@media (max-width: 480px) {
  .service-item {
    width: 200px;
    height: 200px;
  }

  .service-item .icon {
    width: 150px;
    height: 150px;
  }

  .content h2 {
    font-size: 0.9rem;
  }

  .content p {
    font-size: 0.8rem;
  }
}
