.img-strategy {
    width: 560px;
    height: 397.69px;
    background-image: url("../../assets/img/app.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  @media (max-width: 1124px) {
  
    .img-strategy {
        width: 450px;
        height: 397.69px;
    }
  }
  
  @media (max-width: 480px) {
    .img-strategy {
      width: 350px;
      height: 250.69px;
    }
  }