.services-container-about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
  width: 100%;
}

.service-item-about {
  background-size: cover;
  background-position: center;
  color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  width: 30vw;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.service-item-about .icon {
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid white;
  text-align: center;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background: #d9d9d90d;
  height: 140px;
  margin-bottom: 10px;
}

.service-item-about .icon:hover {
  box-shadow: inset 0 0 10px 5px orange;
}

.service-item-about .icon .icon-img {
  width: 100%;
  height: 100%;
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center; 
  display: block;
}


.content-About {
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  background-color: transparent;
  height: 100%;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.content-About h2 {
  margin: 10px 0;
  font-size: 1.4rem;
  width: 100%;
}

.content-About p {
  font-size: 0.9rem;
}

@media (max-width: 1024px) {
  .service-item-about {
    width: 100vw;
    height: auto;
  }
  .service-item-about .icon {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  .service-item-about {
    width: 80vw;
    height: auto;
  }
  .services-container-about {
      flex-wrap: wrap;
  }
}

@media (max-width: 480px) {
  .service-item-about {
    width: 90vw;
  }
  
}

