.service-card {
  color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-card .icon {
  padding: 20px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid white;
    text-align: center;
    width: 134px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background: #D9D9D90D;
    height: 116px;
}

.service-card .img {
  width: 64px;
  height: 64px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.service-card h2 {
  margin: 10px 0;
  font-size: 20px;
}

.service-card p {
  font-size: 0.9rem;
}


