* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8px;
  background: transparent;
  position: relative;
  z-index: 1000;
}

.logo-container {
  position: relative;
  width: 120px;
  display: inline-block;
  cursor: pointer;
}

.logo {
  display: block;
  width: 100%;
  height: auto;
}

.logo-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0 0 0 2rem;
}

.logo-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 68%;
  height: 100%;
  background-color: #170012;
  transition: transform 1.5s ease-in-out, opacity 1.5s ease-in-out;
  transform: translateX(0);
}

.logo-container:hover::before {
  animation: fadeOutLeftToRight 0.5s ease-in-out forwards;
}

@keyframes fadeOutLeftToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@media (max-width: 768px) {
  .logo-container {
    width: 90px;
    margin: 0 0 0 1rem;
  }
}

@media (max-width: 480px) {
  .logo-container {
    width: 70px;
    margin: 0 16px;
  }
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-grow: 1;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: #fff;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ddd;
}

.menu-icon {
  display: none;
  font-size: 24px;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    /* height: calc(100vh - 60px); */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9);
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
  }

  .nav-links.open {
    height: 100vh;
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  .nav-links li {
    margin: 20px 0;
  }
}

/* Dropdown Styles */

.flag-icon {
  width: 20px;
  height: 15px;
  margin-right: 8px;
}

.dropdown {
  position: relative;
  margin: -22px 10px 1px;
}

@media (max-width: 768px) {
  .dropdown {
    margin: -22px 5px 2px 25rem;
  }
}

@media (max-width: 480px) {
  .dropdown {
    margin: -25px 3px 1px 6rem;
  }
}

.dropdown-toggle {
  background: none;
  border: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
}

.navbar .dropdown-menu {
  position: absolute;
  top: 100%;
  left: -10rem;
  background-color: #333;
  border: 1px solid #ddd;
  border-radius: 4px;
  z-index: 1000;
  list-style: none;
  padding: 10px 0;
  max-height: 300px;
  overflow-y: auto;
  width: 250px;
}

.dropdown-item {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #555;
}

/* Mobile dropdown menu styles */
@media (max-width: 768px) {
  .dropdown-menu {
    position: static;
    background-color: rgba(0, 0, 0, 0.9);
    border: none;
    box-shadow: none;
    padding: 0;
  }

  .dropdown-item {
    text-align: center;
    padding: 10px 0;
  }
}

.navbar .dropdown-toggle {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
}

.navbar .dropdown-toggle .world-icon {
  margin-right: 8px;
  font-size: 18px;
}

.navbar .dropdown-toggle .dropdown-icon {
  margin-left: 8px;
  font-size: 14px;
}

.navbar .dropdown-menu .dropdown-item {
  padding: 8px 16px;
  cursor: pointer;
}

.navbar .dropdown-menu .dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
